<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:100,300,500">

    <link type="text/css" href="../../assets/css/argon.css?v=1.2.0" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <div class="full-screen-container">
        <div class="login-container">
            <h3 class="login-title">Modificar datos Cliente</h3>
            <form [formGroup]="signupForm" (ngSubmit)="signup()">
                <div class="input-group">
                    <label>Nombre Completo</label>
                    <!-- no se tendria que modificar , pero si mostrar los guardados -->
                </div>
                <div class="input-group">
                    <label>Apellidos</label>
                    <!-- no se tendria que modificar , pero si mostrar los guardados -->
                </div>
                <div class="input-group">
                    <label>Número de Teléfono</label>
                    <input type="number" formControlName="nroTelefono" placeholder="Numero de Telefono" /><br />
                </div>
                <div class="input-group">
                    <label>Dni</label>
                    <!-- no se tendria que modificar , pero si mostrar los guardados-->
                </div>

                <div class="input-group">
                    <label>Email</label>
                    <input type="email" formControlName="email" placeholder="Email" /><br />
                </div>

                <div class="input-group">
                    <label>Provincia</label>
                    <select id="provincia" [formControl]="provinciaSelected" class="form-control" (change)="SelectProvincia($event.target.value)">
                        <option *ngFor="let provincia of provincias" value={{provincia.idProvincia}}>
                            {{provincia.nombre}}</option>
                    </select>
                </div>
                <div class="input-group" *ngIf="localidades?.length > 0">
                    <label>Ciudad</label>
                    <select id="ciudad" [formControl]="localidadSelected" class="form-control" (change)="SelectLocalidad($event.target.value)">
                        <option>Seleccionar Localidad</option>
                        <option *ngFor="let localidad of localidades" value="{{localidad.idLocalidad}}">
                            {{localidad.nombre}}</option>
                    </select>
                </div>
                <div *ngIf="displayDireccion && localidades?.length > 0">
                    <div class="input-group">
                        <label>Dirección</label>
                        <input type="text" formControlName="direccion" placeholder="Direccion" /><br />
                    </div>
                    <div class="input-group">
                        <label>Número de Calle</label>
                        <input type="number" formControlName="alturaCalle" placeholder="Numero de Calle" /><br />
                    </div>
                </div>
                <button type="submit" [disabled]="!signupForm.valid" class="btn btn-success btn-lg">Guardar
                    Cambios</button><br>
            </form>
        </div>
    </div>
</body>

</html>